@import "../../global.scss";

.portfolio{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 50px;
    }
    ul{
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
    }
    li{
        font-size: 18px;
        margin-right: 5px;
        padding:  7px;
        border-radius: 10px;


        &.active{
              background-color: $maincolor;
              color: white;
        }
    }
}